* {
	margin: 0;
	padding: 0;
}


.grid {
	display: grid;
	grid-template-rows:    minmax(200px, auto);
	grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr) minmax(auto, 1fr);
	grid-gap: .5em;

}



.grid > div{
	background-color: #eee;
	padding: 1em;
}
.grid > div:nth-child(odd){
	background-color: #ddd;
}