$dGray: #252627;
$lOrange: #ec7f37;
$dOrange: #ff5a09;
$orangeYellow: #be4f0c;

$red : #ec4d37;
$black : #1d1b1b;

.d-gray {
	color: $dGray;
}

.l-orange {
	color: $lOrange;
}

.d-orange {
	color: $dOrange;
}

.orange-yellow {
	color : $orangeYellow;
}