* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	font-size: 1.04vw;
	@media only screen and (max-width: 1024px){
		font-size: 18px;
	} 
	@media only screen and (max-width: 991px){
		font-size: 14px;
	}
	.d-flex {
		display: flex;
	}
	.flex-row {
		flex-direction: row !important;
	}
	.flex-column {
		flex-direction: column !important;
	}
	.m-auto {
		margin: auto;
	}
	.justify-flex-end {
		justify-content: flex-end;
	}
	.align-flex-end {
		align-items: flex-end;
	}
	.justify-space-between {
		justify-content: space-between;
	}

}


.menu-button {
	&:focus {
		outline: none !important;
	}
	@media only screen and (max-width: 1024px){
		top: 65px;
		left: 50px;
		width: 50px;
		&:before, &:after {
			width: 80%;
		}
		span {
			width: 80%;
		}
	}
	@media only screen and (max-width: 767px){
		top: 4%;
		left: 8%;
		width: 30px;
	}
}

.skills-container {
	div {
		outline: none !important;
		&:focus {
			outline: none;
		}
	}
}

.group {
	margin-bottom: em(50);
	text-align: left;
}
#page-contact input, #modal-5 input, #page-contact textarea, #modal-5 textarea {
	color: white;

}

#contactForm {
	margin-top: em(50);
}

#page-contact label {
	margin-bottom: em(20);
}

#contactForm-Modal {
	font-size: 16px;
	margin-top: 0;
	
}


#modal-5{
	.md-content {
		padding: 15px;
	}
	h6{
		@media only screen and (max-width: 767px){
			font-size: 16px;	
		}
		
	}
	#contactForm-Modal {
		@media only screen and (max-width: 767px){
			.group {
				margin-bottom: 20px;
			}
			input {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
	
}


.text-lowercase {
	text-transform: lowercase !important;
}