.page-header-container{
	
}

#page-home{
    .bp-header {
        height: 100vh;
    }
}

.bp-header{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
}