.poster {
    width: 10%;
    position: absolute;
    top: 0;
    bottom: unset; 
    left: unset;
    right: 0;
    max-height: 100%;   
    @media only screen and (max-width: 1024px){
        width: 25%;
    }
    @media only screen and (max-width: 767px){
        width: 35%;
    }
}

.logo-position-front {
    @media only screen and (max-width: 60em){
        position: unset;
    }
}