.js{
	.pages-nav {
		@media only screen and (max-width: 767px){
			padding: 70px 20px 0 20px;
			text-align: center;
		}
		.pages-nav__item {
			@media only screen and (max-width: 767px){
				padding: 6px 0;
			}
		}
	
	}
}
